doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title property Search
    link(rel="stylesheet", href="styles.css")
    style.
      .property-info-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .property-info-container div {
        text-align: left;
      }
  body
    include index
    header
      .hero-section
        h1 Applied properties
        if results.length > 0
          ul
            each property in results
              li(style="border: 1px solid #ccc; padding: 10px; margin-bottom: 20px;")
                h2(style="color: #333; font-size: 1.5rem; margin-bottom: 5px;") #{property.title}
                .property-info-container
                  div
                    p(style="margin-bottom: 5px;") Description: #{property.description}
                    p(style="margin-bottom: 5px;") Location: #{property.location}
                    p(style="margin-bottom: 5px;") Rent: #{property.rent}
                  div
                    p(style="margin-bottom: 5px;") Posted Date: #{property.posted_date}
                    p(style="margin-bottom: 5px;") User Email: #{property.user_email}
                    p(style="margin-bottom: 5px;") Agency Email: #{property.agency_email}
        else
          p No applied properties found.
